#
# This example configuration file sets a "local" remote vault
#

######################################################################
# remote type
[remote_factory]

# Method of transfer. Currently available methods are "curl" and "scp"
method = curl

######################################################################
# curl-specific information
[curl]

# Direct backup of the file somewhere on the machine.
url = file://$HOME/backup/pwd.vault
