<html>
  <head>
    <title>CAD's password vault list</title>
    <script src="#(root)/static/webclient.js"></script>
    <link rel="stylesheet" href="#(root)/static/webclient.css">
  </head>
  <body>
    <ul>#(*pass)
      <li><a href="##" onclick="submit_passform('#(path)');">#(name)</a></li>#(pass*)
    </ul>
    <div class="hidden">
      <form id="passform" method="post" action="/">
        <input type="hidden" name="#(form_token_name)" value="#(auth_token)" />
      </form>
    </div>
  </body>
</html>
