<html>
  <head>
    <title>CAD's password vault pass</title>
    <script src="#(root)/static/clipboard.min.js"></script>
    <script src="#(root)/static/webclient.js"></script>
    <link rel="stylesheet" href="#(root)/static/webclient.css">
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', setClipboard, false);
    </script>
  </head>
  <body>
    <button class="clip" data-clipboard-text="#(pass)">Copy</button>
    <form method="post" action="#(root)/pass">
      <input type="hidden" name="#(form_token_name)" value="#(auth_token)" />
      <input type="submit" value="Back" />
    </form>
  </body>
</html>
